<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar artistas, canciones o álbumes..."
    (input)="onSearchInput($event)"
  />

  <div *ngIf="isLoading">Buscando...</div>

  <section *ngIf="hasSearched && !isLoading">
    <h3>Canciones</h3>
  <div class="track-list">
    <div 
      *ngFor="let track of tracks" 
      class="track-card"
      (click)="playTrack(track)"
      style="cursor: pointer;"
    >
      <img [src]="track.album.images[0].url" alt="album cover">
      <div>
        <p class="track-name">{{ track.name }}</p>
        <p class="artist-name">{{ getArtistNames(track.artists) }}</p>
        <p class="duration">{{ formatDuration(track.duration_ms) }}</p>
      </div>
    </div>
  </div>

    <h3>Artistas</h3>
    <div *ngFor="let artist of artists">
      {{ artist.name }}
    </div>

    <h3>Álbumes</h3>
    <div *ngFor="let album of albums">
      {{ album.name }} — {{ album.artists[0]?.name }}
    </div>
  </section>
</div>
